<div class="container">

  <p>The "What-to-Grow-and-When-and-How" Site for Urban Gardeners</p>
  <div class='col-md-5'>
    <div class='entry_form'>
      <span> Zipcode:</span>
      <input type='text' id='zipo' value='98102' />
      <input type='submit' id='mysubmit1' value='Go' />
      <span> Region:</span>
      <span id='hardregion'></span>
    </div>
  </div>

  <div class='col-md-7'>
    This is the other side of the page.
  </div>
</div>

