<div class="container-fluid">
  <div class="row selector-nav">
    <div id='header' class='col-md-12 top-bar'>
      <%= render 'nav_selector' %>
    </div>
  </div>
</div>

<br>
<div class="container-fluid">
  <div class="outputs">
    <div class="row">
      <div class='col-md-5 left-side', background-color="#F7AD64">
        <table id='plants' class="table table-striped table-bordered"
               cellspacing="0" width="100%">
          <thead><th>Plant Name</th></thead>
          <tbody>
            <% @plants.each do |p| %>
            <tr id='<%= p.id %>'>
              <td>
                <%= p.plant_name %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <section class='col-md-7 right-side', style='position: relative;'>
        <div style='display: block;'>
          <div id='plants_details' class='sticky'>
            <%= image_tag 'arrow.png' %>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
