<div class="container">
  <div class="row">
    <div class='col-md-12 top-bar'>
      <div class='entry_form'>
        <span> Zipcode:</span>
        <input type='text' id='zipo' value='98102' />
        <input type='submit' class="btn btn-large btn-success" id='mysubmit1' value='Go' />
        <span> Region:</span>
        <span id='hardregion'></span>
      </div>
    </div>
  </div>
  <br>
  <div class="outputs">
    <div class="row">
      <div class='col-md-4 left-side'>
        Left Side Plant List
      </div>
      <div class='col-md-8 right-side'>
        This is the right side of the page showing plant detail.
      </div>
    </div>
  </div>
</div>


