<div class='row'>
  <div class='col-md-12' style="display: block-inline;">
    <div class='col-md-3 left-side'>
      <%=(image_tag ('/images/urbanhoelogo.png')) %>
    </div>
    <div class='col-md-9 right-side' align='right'>
      <%= link_to 'About', welcome_about_path %>
    </div>
  </div>
</div>


<article id="new_plant_form">
  <h1>New Plant</h1>
  <%= render 'form' %>
</article>
