<% if user_signed_in? %>
<article id="plant_show_page">
  <%= render 'details' %>
  <div class='row'>
    <%= link_to 'Edit', edit_plant_path(@plant) %> |
    <%= link_to 'Delete', plant_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</article>
<% else %>
  <%= render 'unauthorized.html.erb' %>
<% end %>
