 /*
 *= require_tree .
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require_self
 */

 /* scss variable */


@import 'bootstrap-sprockets';
@import 'bootstrap';

/* move all content away from left edge of browser window */
.container-fluid {
margin-left: 25px;
}

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.error {
 color: red;
}


/* navbar ---------------------------- */
.navbar-default {
    background-color: #D1C69B;
    border-color: #ffffff;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  background-color: #D1C69B;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #dbe5a1;
}

.sticky {
  position: fixed;
  width: 100%;
  left: 0;
  top: 6em;
  z-index: 100;
  border-top: 0;
}

/* Lighten admin sign-in link ---------------------*/

a.light-link {
  color: #e1dddd;
}

/* Background colors -------------------------*/

div.top-bar {
  background-color: #f7ad64;
}

div.left-side {
  background-color: #f5f5f5;
}

div.col-md-5.left-side {
  background-color: #f7ad64;
}

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #FFE3C4;
 }

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: #C4E0FF;
 }
