 /*
 *= require_tree .
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require_self
 */

 /* scss variable */

@import 'bootstrap-sprockets';
@import 'bootstrap';

@media (min-width: 801px) {
  .sticky {
    z-index: 100;
    border-top: 0;
    margin-right: 15px;
    margin-bottom: 20px;
  }

  div.row.selector-nav {
    width: 100%;
    left: 0;
    top: 0;
    border-top: 0;
    padding-bottom: 2px;
    z-index: 100;
  }

  div.container-fluid {
  }
}

@media (min-width: 300px) and (max-width: 800px) {
  .container-fluid {
    padding-top: 0;
  }
}

.messages {
  margin: 0;
  padding-left: 2em;
  height: 0;
  .notice {
    color: #71b246;
  }
  .alert {
    color: #fc7d02;
  }
}

/* move all content away from left edge of browser window */
.container-fluid {
  margin: 0;
  padding: 0;
  margin-left: 25px;
}

.user-info {
  margin-top: 9px;
}

.selector-nav {
  z-index: -10;
  background-color: white;
}

.error {
  color: red;
}


/* navbar ---------------------------- */
.navbar-default {
  border-color: #ffffff;
}


/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 30px;
  padding-top: 20px;
  background-color: white;

  .ff {
    position: relative;
    .f1 {
      padding-left: 0;
      text-align: left;
      font-size: 0.8em;
    }
    .f2 {
      text-align: right;
    }
  }
}

/* Lighten admin sign-in link ---------------------*/

a.light-link {
  color: #e1dddd;
}

/* Background colors for table -------------------------*/

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #dbe5a1;
}

/* Login Form ---------------------------*/
#login_form {
  margin-left: 2em;
}
